*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
.width{
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 120px;
}
header {
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header-content{
    position: absolute;
    bottom: 185px;
    left: 0;
    right: 0;
    text-align: center;
}
.header-content h3{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
.header-content h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 90px;
    color: #fff;
}

/* header css end from here */

/* discount section css start from here */
.discount-container {
    text-align: center;
}
.discount-content h1{
    color: #f00;
    font-size: 85px;
    font-weight: 700;
}
.discount-content h4{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}
.discount-content h2{
    font-size: 46px;
    font-weight: 700;
    color: #070211;
}
.discount-container img{
   margin-top: 40px;
}