*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
.width{
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 120px;
}
header {
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header-content{
    position: absolute;
    bottom: 185px;
    left: 0;
    right: 0;
    text-align: center;
}
.header-content h3{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
.header-content h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 90px;
    color: #fff;
}

/* header css end from here */

/* discount section css start from here */
.discount-container {
    text-align: center;
}
.discount-content h1{
    color: #f00;
    font-size: 85px;
    font-weight: 700;
}
.discount-content h4{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}
.discount-content h2{
    font-size: 46px;
    font-weight: 700;
    color: #070211;
}
.discount-container img{
   margin-top: 40px;
}
/* discount css end from here */
/* mid night css start from here */
.mid-night-container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    border-radius: 20px;
}
.mid-night-content{
    position: absolute;
    bottom: 170px;
    left: 155px;
}
.mid-night-content h1{
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: 7px;
}
.mid-night-content p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.mid-night-content button {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}
/* end here mid-night css and also start time-zone css */
.time-zone-container{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 20px;
}

.time-zone-container p{
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 50px;
}
.time-zone-container span{
    color: #f00;
}
.time-zone-container button {
    color: white;
    background-color: #f00;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
/*  end here time zone css and also start from coming soon css */

.best-offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-first-content h4{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}
.best-offer-first-content h1{
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
}
.best-offer-first-content p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.best-offer-img{
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-offer-img img{
    width: 365px;
    height: 365px;
}
.best-offer-content-second h1{
    color: #f00;
    font-size: 45px;
    font-weight: 700;
}
.best-offer-content-second p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.best-offer-content-second img{
    margin-top: 20px;
}
/*  end here best offer css and also start from holiday sale css */
.holiday-sale-content{
    text-align: center;
    border-radius: 20px;
}
.holiday-sale-content h4{
    font-size: 24px;
    color: #070211;
    font-weight: 500;
}
.holiday-sale-content h4{
    font-size: 45px;
    color: #070211;
    font-weight: 900;
    margin-top: 10px;
}
.holiday-sale-content span{
    color: #F00;
}
.holiday-sale-content p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
}

.holiday-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    
}
.holiday-img img{
    height: 550px;
    position: relative;
}
.holiday-bottom-img{
   background-color: #F00;
   height: 160px;
   width: 1206px;
   position: absolute;
}
.holiday-img-two {
    position: relative;
    
}
.discount-img {
    position: absolute;
    left: 605px;
}
.discount-img img{
    width: 205px;
    height: 205px;
    
}
/* end here discount section css and also start a new section */

.best-gift-container{
    margin-top: 250px;
    text-align: left;
}
.best-gift-img-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.best-gift-img-container img{
    width: 100%;
}
.best-gift-container h1{
    color: #F00;
}
.best-gift-img-container img:hover{
    transform: scale(1.1);
    transition-duration: 1.4s;
    cursor: pointer;
}
/* end here gift section css and also start a new section */
.news-letter-container{
    text-align: center;
}
.news-letter-container h1{
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
}
.news-letter-container p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}
.news-letter-container input {
    width: 500px;
    height: 60px;
    border-radius: 50px;
    color: #fff;
    position: relative;
    border: 0;
    padding: 10px;
}
.news-letter-container input[type='email']::placeholder {
    color: rgba(7, 2, 17, 0.30);
     font-size: 20px;
    
}
.news-letter-container button {
    background-color: #F00;
    border-radius: 0px 50px 50px 0px;
    color: white;
    padding: 22px 70px;
    position: absolute;
    left: 725px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
/* end here news letter section and also start footer section  */

footer{
    background-color: #070211;
    color: white;
    margin-top: 200px !important;
}
footer hr{
    width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}
.footer-address-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0px 100px 0px;
}
.footer-icons{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.footer-icons img{
    margin: 15px;
}
.contact-number i{
    margin-right: 12px;
}
.short-description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0px 100px 0px;
}